
h2 {
  margin-bottom: 40px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.skills-area {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
}
.skill {
  position: relative;
  margin-bottom: 10px;
}
.skill-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.skill-bar {
  width: 100%;
  background-color: aliceblue;
  height: 30px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}
.skill-fill {
  background: #3aaacf;
  height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;
}
.skill-percent {
  font-size: 30px;
  color: white;
}
.html {
  animation: html 8s;
  width: 70%;
}
.design {
  animation: design 8s;
  width: 60%;
}
.css {
  animation: css 8s;
  width: 65%;
}
.js {
  animation: js 8s;
  width: 45%;
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes design {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}
@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}
* {box-sizing: border-box}

/* style the container */
.container3 {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col3 {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}



/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col3 {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3aaacf, 0 0 40px #3aaacf, 0 0 50px #3aaacf, 0 0 60px #3aaacf, 0 0 70px #3aaacf;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e2edff, 0 0 40px #e2edff, 0 0 50px #e2edff, 0 0 60px #e2edff, 0 0 70px #e2edff, 0 0 80px #e2edff;
  }
}



